body{
	background-color: #FAFAFA;
}

.brand-logo img{
	padding: 10px;
	width: 165px;
}
nav{
	height: 80px;
}

nav ul li a{
	height: 80px;
	line-height: 80px;
	padding: 0 25px;
	color: #5A5A5A;
}
nav ul li:hover{
	background-color: transparent;
}

nav ul li a:hover{
	background-color: transparent;
	border-bottom: 4px solid #53D1E0;
}

nav i.material-icons{
	color: #333333;
}

ul.dropdown-content li a{
	background-color: #fff;
	color: #006064;
	height: 50px;
	line-height: 23px;	
}

ul.dropdown-content li a:hover{
	background-color: #FAFAFA;	
}

nav i.material-icons{
	line-height: 80px;
}

.container.menu{
	color: #212121;
	margin-top: -100px;
}

.bg{
	/*background-image: url('../img/cover.jpg');*/
	background-size: cover;
	height: 120px;
}

a.nav-head{
	font-size: 20px;
	color: #fff;
}


.panel-pertanyaan{
	margin: 10px 0;
	border: 1px solid #e6e6e6;
	padding: 5px 10px;
	background-color: #fff;
}

.panel-pertanyaan a{
	color: #000;
}

.panel-pertanyaan a:hover{
	color: #000;
}

.menu .head{
	padding: 20px;
	margin-top: 20px;
	border: 1px solid #dbdbdb;
	background-color: #fff;
}

.menu .head a{
	color: #555;
	font-size: 30px;
	/*font-weight: 700;*/
	/*letter-spacing: 3px;*/
}

.menu .head a:hover{
	border-bottom: 4px solid #53D1E0;
}

.btn{
	background-color: #555;
	box-shadow: none;
	border-radius: 3px;
	font-size: 13px;
	padding:  0 15px;
	text-transform: none;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:visited{
	background-color: #555;
	box-shadow: none;
}

.top-section{
	color: #555;
	/*font-weight: 600;*/
	font-size: 30px;
	/*border-bottom: 5px solid #555;*/
}
.list-article{
	margin-bottom: 50px;
	border: 1px solid #e6e6e6;
	border-bottom: 1px solid #53D1E0;
	border-radius: 3px;
	background-color: #fff;
}

.home .list-article{
	margin-bottom: 20px;
}

.italic{
	font-style: italic;
}
.readmore:hover{
	border-bottom: 2px solid #FDE087;
}

.head-article{
	border-bottom: 1px solid #e6e6e6;
	display: flex;
	padding: 14px 20px;
	box-sizing: border-box;
	height: 46px;
}
.time-article-view{
	font-size: 13px;
	color: #90A4AE;
	font-style: italic;	
}

.menu-description{
	color: #B7B8B7;
}

.head-article-view{
	/*border-bottom: 1px solid #e6e6e6;*/
	display: flex;
	padding: 14px 0px;
	box-sizing: border-box;
	height: 46px;
}
.head-panel-pertanyaan{
	border-bottom: 1px solid #53D1E0;
	display: flex;
	padding: 5px 13px;
	box-sizing: border-box;
	height: 33px;
	margin-bottom: 5px;
}

.head-panel-pertanyaan a{
	color: #5B5B5B;
	font-size: 13px;
}

.list-article .head-article .previewfoto,
.panel-pertanyaan .head-panel-pertanyaan .previewfoto,
.previewfoto{
	height: 30px;
	width: 30px;
}

.list-article .head-article .previewfoto img,
.panel-pertanyaan .head-panel-pertanyaan .previewfoto img{
	margin: -1px 10px -1px -5px;
}
.previewfoto img{
	margin: -1px 10px -1px -5px;
}
.list-article .head-article .username-article-container,
.panel-pertanyaan .head-panel-pertanyaan .username-pertanyaan-container{
	width: 100%;
}
.list-article .head-article .username-article,
.panel-pertanyaan .head-panel-pertanyaan .username-panel-pertanyaan{
	color: #262626;
}

.time-article{
	width: 50px;
	font-size: 13px;
	color: #999;
}

.footer-article{
	font-size: 13px;
	border-top: 1px solid #e6e6e6;
	padding: 14px 20px;
}

.footer-article .suka{
	display: inline-block;
	box-sizing: border-box;
}

.footer-article .suka a{
	color: #333333;
	font-weight: 600;
}
.footer-article .suka a:hover{
	border-bottom: 2px solid #FDE087;
}

.list-article .field-article,
.list-article .head-article{
	padding: 14px 20px;
}

.list-article h1{
	margin: 5px 0;
}
.list-article h4 a{
	color: #212121;
}

.list-article .desc{
	color: #757575;
	height: 34px;
	/*background-color: yellow;*/
}

.list-article .desc a{
	/*background-color: blue;*/
	color: #757575;
	margin-left: 25px;
}
.list-article .desc i.material-icons{
	position: absolute;
}

.list-article .created{
	font-style: italic;
	font-size: 11px;
}

.list-article p{
	margin: 0;
}

.list.home{
	margin-top: 10px;
}

input.search{
	margin-top: 7px;
	padding-left: 6px;
	background-color: #FAFAFA;
	color: #212121;
}

.daftar a{
	font-size: 25px;
}
.daftar a:hover{
	text-decoration: underline;
}

.head-left{
	padding-top: 50px;
}

footer.page-footer{
	padding-top: 0;
}

h4.title-article{
	margin: 0;
	margin-bottom: 15px;
	line-height: 32px;
}

h4.title-article a{
	color: #555;
}

.card-panel{
	/*box-shadow: none;*/
	border-radius: 0;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	padding-left: 5px;
	margin-bottom: 10px;
	background-color: #fff;
	height: 35px;
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #53D1E0;
}

.btn-block{
	width: 100%;
}

.title-login{
	font-weight: 700;
	font-size: 22px;
}

.ask-login{
	margin-top: 10px;
}

.ingat-saya{
	margin:0;
}

.message{
	color: #E2726D;
	padding: 5px;
	text-align: center;
	font-size: 16px;
}

.dropdown-content {
	background-color: #FFFFFF;
	margin: 0;
	display: none;
	min-width: 200px; /* Changed this to accomodate content width */
	max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
	overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
	opacity: 0;
	position: absolute;
	white-space: nowrap;
	z-index: 1;
	will-change: width, height;
}
.search-navbar{
	position: absolute;
	top: 0;
	left: 35%;
	right: 35%;
	padding: 20px 0;
}
nav input[type="search"].searchbar{
	width: 100%;
	position: absolute;
	background-color: #fafafa;
	color: #000;
	border-radius: 3px;
	max-height: 35px;
}

nav{
	box-shadow: none;
	border-bottom: 1px solid #e6e6e6;
}

nav ul li a{
	font-size: 17px;
	font-weight: 600;
}

.panel-create{
	border: 1px solid #6e6e6e;
	padding: 5px 0;
	width: 210px;
	border-radius: 2px;
	font-weight: 500;
}

.panel-create .article,
.panel-create .question{
	width: 100px;
	padding: 10px;
}

.panel-create .article{
	border-right: 2px solid #53D1E0;
	margin-right: 0;
}

.inline-block{
	display: inline-block;
}

footer{
	background-color: #263238;
	padding: 15px;
	color: #fff;
}

.mycolor1{
	background-color: #53D1E0;
}

.col-article{
	display: inline-block;
}

.columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

@media screen and (max-width: 900px){
	.columns {
		-webkit-column-count: 1;
		-webkit-column-gap: 10px;
		-webkit-column-fill: auto;
		-moz-column-count: 1;
		-moz-column-gap: 10px;
		-moz-column-fill: auto;
		column-count: 1;
		column-gap: 15px;
		column-fill: auto;
	}
}

.columns .col{
	/*margin: 0 2px 15px;*/
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	/*padding: 15px;*/
	/*padding-bottom: 5px;*/
	/*background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);*/
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.mydropdown{
	/*position: relative;*/
	top: 70px;
	max-height: 362px;
	min-height: 100px;
	overflow: auto;
	padding: 0;
	background: #fff;
	border: solid 1px #e6e6e6;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0,0,0,.0975);
	display: block;
	white-space: normal;
	width: 350px;
	z-index: 11;
	color: #000;
}

.mydropdown a:hover{
	border-bottom: none;
	color: #1A9BC3;
}
.mydropdown a{
	padding: 0;
	margin: 0;
	color: #000;
}

.mydropdown ul .item-dropdown{
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	height: 60px;
	padding: 12px 12px;
	position: relative;
	border-bottom: 1px solid #e6e6e6;
	width: 100%;
}
.mydropdown ul .item-dropdown:hover{
	background-color: #FAFAFA;
}

.mydropdown ul .item-dropdown a.previewfoto{
	width: 30px;
	height: 30px;
	margin: auto;
}

.mydropdown ul .item-dropdown .username-dropdown{
	height: 30px;
	width: 100%;
}

.username-dropdown a{
	line-height: 20px;
	font-size: 13px;
}
.time-dropdown{
	color: #E0E0E0;
	width: 60px;
}

.username-dropdown a .desc-notif{
	color: #333333;
	font-weight: normal;
}

.mydropdown ul .item-dropdown a.previewfoto img{
	margin: 10px 10px -1px -5px;
	display: block;
}

.caretup{
	background: #fff;
	border: 1px solid #e6e6e6;
	box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
	/*height: 14px;*/
	left: 6px;
	top: 8px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 14px;
	margin-top: -3px;
	margin-left: 25px;
	z-index: 4;
	margin-top: -17px;
	opacity: 0;
	height: 0;
	transition: all 0s ease 0s;
}
.caretup.active{
	height: 14px;
	opacity: 0.9;
}

.caretup2.active{
	opacity: 0.5;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 80px;
	z-index: -1;
}
.caretup2{
	opacity: 0;
}

.dropdown-container{
	top: 70px;
	position: absolute;
	min-height: 0;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	margin-left: -285px;
	z-index: 11;
	transition: all 0.2s ease;
}
.dropdown-container.active{
	opacity: 1;
	min-height: 362px;
	max-height: 100px;
	width: auto;
	/*overflow: auto;*/
}

input.inputbox{
	height: 33px;
}

.titleinput{
	font-size: 17px;
	font-weight: 600;
}
.chips{
	border: 2px solid #9e9e9e;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	margin-bottom: 10px;
}
.chip{
	height: 25px;
	margin-top: 8px;
	font-size: 13px;
	line-height: 25px;
}
.chip i.material-icons{
	line-height: 27px;
}
.chips .input{
	margin-bottom: 0;
}

.list-article h6{
	display: inline-block;
	padding-right: 20px;
}

a.title-article-create{
	color: #262626;
}

.delete-article{
	margin-right: 10px;
	color: #555;
}
.delete-article:hover{
	color: #DC4C44;
}

.profile-img{
	width: 150px;
	height: 150px;
}

.username-profile{
	font-size: 36px;
	letter-spacing: -1.25px;
	line-height: 42px;
	word-spacing: -2.25px;
	color: #555;
	font-weight: 600;
}

.location-username{
	font-weight: 600;
	font-style: italic;
	margin-bottom: 10px;
}

.about-username{
	font-size: 14px;
	letter-spacing: -0.15px;
	line-height: 16px;
	word-spacing: 0;
}

.menu-username li{
	display: inline-block;
	padding: 10px;
}
.menu-username li a{
	font-size: 14px;
	color: #555;
}
.menu-username li a:hover,
.menu-username li a.focus{
	border-bottom: 3px solid #32C7D9;
}
.count-username{
	font-weight: 700;
	font-size: 16px;
}

.btn-profile{
	border-radius: 3px;
	margin-bottom: 5px;
}
.btn-profile label{
	color: #fff;
	margin-right: 5px;
	font-size: 18px;
}

@media only screen and (min-width: 993px){
	nav .container {
		width: 90%;
	}
}

.article{
	border-bottom: 1px solid #32C7D8;
	margin-bottom: 10px;
}

h1.title-article-view{
	font-size: 34px;
	margin: 5px 0 10px 0;
	color: #333333;
	line-height: 38px;
	font-weight: 900;
	letter-spacing: -1px;
}

.article p{
	font-size: 16px;
	line-height: 140%;
	color: #555;
}
.second-sec{
	border-bottom: 1px solid #32C7D9;
	margin-bottom: 10px;
	padding: 10px 0;
}

.second-sec button.btn{
	margin-top: -10px;
}

.like-button-article,
.save-button-article{
	font-size: 17px;
	display: inline-block;
	margin-right: 20px;
}

textarea{
	border: 1px solid #dbdbdb;
	min-height: 100px;
	background-color: #fff;
	color: #212121;
	max-width: 100%;
	border-radius: 3px;
}

.comment{
	margin: 10px 0 30px 0;
}

.comment-detail{
	padding-bottom: 6px;
}

.comment-item .head-article-view{
	border: none;
}

.comment-item{	
	border-bottom: 1px solid #32C7D8;
}

.status-article{
	background-color: #009688;
	color: #fff;
	border-radius: 2px;
	padding: 3px;
	font-size: 11px;
}

.date-article{
	display: inline-block;
	font-size: 12px;
	color: #555;
	font-style: italic;
}

.warning{
	color: #555;
}

.footer-article .fa-2x{
	font-size: 18px;
}

i.material-icons a{
	color: #555;
}

.garis-content{
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	margin: 10px 40px 18px;
}

.garis-content .garis{
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	background-color: #c7c7c7;
	height: 1px;
	position: relative;
	top: .45em;
}
.garis-content .textatau{
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 15px;
	margin: 0 18px;
	background-color: #fff;
}

.fa.fa-facebook-square{
	margin-right: 10px;
	color: #fff;
	font-size: 19px;
}











