
.main-content{
	/*margin-left: 270px;*/
	/*padding-right: 30px;*/
	margin-top: 50px;
	padding: 20px;
}

/*nav.navbar.navbar-inverse,
nav.navbar.navbar-default{
	margin-bottom: 0;
	border: none;
	border-radius: 0;
}
.sidenav{
	padding-top: 20px;
	background-color: #333333;
	position: fixed;
	border-right: 1px solid #E9EBEE;
	width: 250px;
	height: 100%;
	padding-left: 20px;
	color: #fafafa;
}
.sidenav li{
	list-style: none;
	padding: 5px;
}

.sidenav li ul li a{
	color: #fafafa;
	}*/

	select, .select2{
		margin-bottom: 20px;
	}

	@media screen and (max-width: 900px){
	/*.sidenav{
		display: none;
	}
	.main-content{
		margin-left: 10px;
		margin-right: 10px;
		padding-right: 0px;
		}*/
	}

.divider{
	margin: 10px 0;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #e5e5e5;
}